:root {
    --chwablue: #004bac;
}
* {
    box-sizing: border-box;
    font-size: 16px;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    vertical-align: sub;
}
header {
    transition: top 0.3s;
}
.navbar {
    margin: 0;
    padding: 0;
    box-shadow: 0px 2px 3px rgb(120, 120, 120);
}
.navbar-brand {
    width: 100%;
    padding: 5px 0;
    margin: 0;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: var(--chwablue);
}
.nav, .navbar-collapse {
    width: 100%;
    background-color: white;
}
.navbar-toggler {
    color:#007bff;
    line-height: 1.5;
}
i {
    font-size: 20px;
}
.vl {
    border-left: 1px solid rgb(160, 150, 160);
    height: 46px;
}
.content {
    height: 2000px;
    margin: 100px 20px 0px 20px;
    background-color: white;
}
footer {
    padding: 20px 20px;
    background-color: rgb(200, 200, 200);
}
@media screen and (min-width : 480px) {
    .content {
        margin: 80px 120px 0px 120px;
        border-radius: 10px;
    }
}