:root {
    --chwablue: #003C8A;
}
* {
    box-sizing: border-box;
}
.navbar {
    background-color: var(--chwablue);
}
.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    margin: auto;
    cursor: default;
}
#navBtn {
    top: 50%;
    align-items: center;
}
@media screen and (min-width : 480px) {
    .navbar-nav {
        margin-right: 0px;
    }
}