:root {
    --chwablue: #003C8A;
}
* {
    box-sizing: border-box;
}
.navbar {
    padding: 10px 14px 10px calc(50% - 48px);
    background-color: var(--chwablue);
    transition: top 0.3s;
}
.navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    cursor: default;
}
.navbar-toggler {
    border: none;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1.0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
#navBtn {
    top: 50%;
    align-items: center;
}
.content {
    padding: 5px 20px 0px 20px;
    margin-top: 60px;
}
@media screen and (min-width : 480px) {
    .navbar {
        padding: 10px 14px 10px calc(50% - 48px);
    }
    .navbar-nav {
        margin: auto 0px auto auto;
    }
    .content {
        padding: 30px 120px 0px 120px;
    }
}